USE [master]
GO
/****** Object:  Database [API]    Script Date: 20/01/2021 0:38:46 ******/
CREATE DATABASE [API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API]
GO
/****** Object:  Table [dbo].[AppRegister]    Script Date: 20/01/2021 0:38:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppRegister](
	[USRS] [varchar](256) NOT NULL,
	[PASSW] [varchar](256) NULL,
 CONSTRAINT [PK_AppRegister] PRIMARY KEY CLUSTERED 
(
	[USRS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
